/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
surveyApeFrontEnd/node_modules

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.DS_store
src/main/resources/application.properties


### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
*.properties
src/main/resources/application.properties
*.gz
*.cmd
*.log
